@charset "utf-8";
/* CSS Document */


*{
	font-family: 'Open Sans', sans-serif;
	box-sizing:border-box;
	color:#58595b;
	letter-spacing: 0.8px;
	vertical-align:top;
	}
body{
	margin:0 auto;
	border:0;
	width:100%;
	overflow-x:hidden;
}
a {
	text-decoration:none;}
.clear{
	clear:both;}
.hover-a:hover{
	opacity:0.8;
	cursor:pointer;
	transition:.15s ease-in-out;
}
.white-text{
	color:white;}
.blue-text{
	color:#2b2b88;
		}
.blue-bg{
	background-color:#2b2b88;
}
.white-bg{
	background-color:white;}
.light-grey {
    color: #888888;}
.width100{
	width:100%;}
.overflow{
	overflow:hidden;}
.float-left{
	float:left;}
.float-right{
	float:right;}		
.text-center{
	text-align:center;}	
.div-center{
	margin-left:auto;
	margin-right:auto;}
.margin-auto{
	margin-left:auto;
	margin-right:auto;}
.clean:focus{	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:selected{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:active{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean::selection {	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean2{
	-webkit-box-shadow:none !important;
	box-shadow:none !important;		
}
.clean2:selected{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:focus{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:active{
	outline: none !important;
	outline-offset: 0  !important;	
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2::selection {	
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.pointer:hover{
	cursor:pointer;}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #fafeff inset !important;
}
.text-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
	overflow:hidden;
}
.height100{
	height:100%;}
.transparent-button{
	background-color:transparent;
	border:0;}
/*Dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  border-radius: 5px;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px 16px;
  z-index: 1;
  color:black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-a{
	color:black;
	margin-left:5px;}
.dropdown-img{
	margin-right:10px;
	width: 10px;
	vertical-align: middle;}
/*End of Dropdown*/
.dropdown-img2{
	vertical-align: bottom;
	margin-right:10px;
	margin-left:0;
}
.dropdown-p:hover{
	color:#7ecbc8;
	transition:.15s ease-in-out;
	cursor:pointer;}
.dropdown-a:hover{
	color:white;
	transition:.15s ease-in-out;
	cursor:pointer;}
.dl-menuwrapper{
	display:none;}
		
/* The Modal (background) */
.modal-css {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-css {
  background-color: white;
  margin: auto;
  padding: 20px;
  margin-top:10vh;	
  width: 80%;
  border-radius: 10px;
}

/* The Close Button */
.close-css {
  color: black;
  float: right;
  font-size: 42px;
  font-weight: bold;
  margin-top: -10px;
}
.notice-modal-content {
    width: 40%;
}
.close-css:hover,
.close-css:focus {
  
  text-decoration: none;
  cursor: pointer;
}	
.same-padding{
	padding-left:7.5%;
	padding-right:7.5%;}
.footer-p {
    font-size: 12px;
	margin: 0;
}
.footer-div {
    padding-top: 2px;
    padding-bottom: 2px;
}	
/*Start */
.min-height {
    min-height: calc(100vh - 22.73px);
    padding-bottom: 50px;
}
.grey-bg{
	background-color:#f1f1f1;}
.green-bg{
	background-color:#007F2D;}
.green-text{
	color:#007F2D;}
.footer-div {
    padding-top: 3px;
    padding-bottom: 3px;
}
.field-bg{
	background-image:url(../img/field.jpg);
	background-position:right;
	background-size:cover;}
.glass{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgb(4 95 40 / 37%);
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgb(255 255 255 / 26%);
}
.login-div {
    width: 50%;
    margin-top: 50px;
	padding: 20px;
}
.login-logo {
    width: 15%;}
.white-border {
    width: 30px;
    height: 3px;
    background-color: white;
    margin-top: 5px;
}
.green-border {
    width: 30px;
    height: 3px;
    background-color: #007F2D;
    margin-top: 5px;
}
.h1-title {
    font-size: 32px;
}
.input-top-p {
    color: white;
    font-size: 12px;
    margin: 0;
    margin-bottom: 2px;
}
.input-name {
    width: 100%;
    border: 0;
    background-color: transparent;
    color: white;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    font-size: 18px;
}
.password-input-div {
    border-bottom: 1px solid white;
    margin-bottom: 20px;
	overflow: hidden;
}
.password-input {
    width: calc(100% - 30px);
    border-bottom: 0;
    margin-bottom: 0;
    float: left;
}
.eye-icon {
    width: 25px;
    float: right;
}
.opacity-hover{
	transition:.15s ease-in-out;
	opacity:0.8;}
.opacity-hover:hover{
	cursor:pointer;
	opacity:1;}
.pill-button {
    border: 0;
    border-radius: 30px;
    padding: 5px 0;
	font-size: 18px;
}
.margin-top10{
	margin-top:10px;}
.menu-color {
    background-color: #ffffffc2;
	padding-top: 10px;
    padding-bottom: 10px;
	z-index: 999999;
}
.logo-img {
    width: 30px;
}
.menu-item {
    font-size: 15px;
}
.menu-margin-right {
    margin-right: 10px;
}
.right-menu-div {
    margin-top: 8px;
}
.menu-distance {
    padding-top: 55.64px;
}
.dl-menuwrapper .dl-menu.dl-menuopen{
	background-color: #ffffffc2;
	min-height: 100vh;
	overflow:auto;
	padding-bottom:50px;
	margin-top: 15px;
	padding-left: 0;
	}
.dl-menuwrapper li a{
	color:black;
	font-weight: 400;}
.stadium-bg{
	background-image:url(../img/field3.jpg);
	background-position:top;
	background-size:cover;}
.margin-bottom0{
	margin-bottom:0;}
.vs-div {
    margin-top: 50px;
	text-align:center;
	padding: 20px;
	backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}
.team-title {
    
	color: white;
	font-size: 36px;
  	}


.vs {
	float:left;
    width: 100px;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;

}
.team-title-left {
    float: left;
    width: calc(50% - 70px);
    text-align: right;
	text-shadow: 0 0 10px #e60073;
}
.team-title-right {
    float: left;
    width: calc(50% - 70px);
    text-align: left;
	text-shadow: 0 0 10px #005ce6;
}
.time-png {
    display: inline-block;
	width: 35px;
}
.time-text{
    display: inline-block;
	color: white;
    font-size: 24px;
	margin-top: 2px;
	 margin-bottom: 0;
	 font-weight: 600;

}
.time-div {
    margin-top: 15px;
}
.time-table {
    margin: 0 auto;
}
.time-table td {
    padding: 12px 8px;
    text-align: left;
}
.odds-button{
	width:300px;}
.odds-button {
    width: 400px;
    margin-top: 30px;
    font-size: 24px;
    padding: 10px;
    font-weight: 600;
	background-color: #007f2d;
    color: white;
}
.ow-grey-text {
    color: #909090 !important;
}
.grey-input {
    color: #525252;
    border-bottom: 1px solid #525252;
}
.dual-input {
    display: inline-block;
    width: 47.5%;
	margin-bottom: 20px;
}
.second-dual-input {
    margin-left: calc(5% - 7px);
}
.fix-width-button {
    width: 400px;
}
.margin-bottom30{
	margin-bottom:30px;}
.grey-password-input {
    border-color: #909090 !important;
}
.grey-password-input input{
	color: #909090 !important;
}
.margin-top50{
	margin-top:50px;}
.stadium-title2 {
    margin-bottom: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid white;

}
.center-titlez {
    margin-top: 10px;
    color: white;
    font-size: 21px;

    padding-bottom: 10px;
    border-bottom: 1px solid white;
	margin-bottom:0;	
}
.center-titlez span {
    color: white;}
.red-outline{
	text-shadow: 0 0 10px #e60073;}
.blue-outline{
	text-shadow: 0 0 10px #005ce6;
	}
.border-topz{
	border-top:1px solid white;
	padding-top: 8px;
	}
.result-p{
	color:white;}
.middle-width-div{
	width: 80%;
    margin-left: auto;
    margin-right: auto;		}
.odds-table{
	border-collapse:collapse;
	margin:0 auto;
	    width: 100%;}
.odds-table td {
    color: white;
    text-align: left;
    border-bottom: 1px solid white;
    border-collapse: collapse;
    padding-top: 15px;
    padding-bottom: 10px;
	border-right: 1px solid white;
    border-left: solid 1px white;
    padding-left: 10px;
    padding-right: 10px;
	vertical-align:middle;
}
.first-td {
	text-align:right !important;
	font-weight:900;
}
.second-td{
	text-align:left;
	font-weight:400;
	}
.overflow-div{
	overflow:auto;}
.p1 {
    color: white;
	display:inline-block;
    width: 150px;
    text-align: left;
    FONT-WEIGHT: 900;
    
    border-bottom: 1px solid white;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 5px;
	vertical-align: bottom;
}
.p2 {
    color: white;
    text-align: left;
    width: calc(100% - 150px);
	border-left: 1px solid white;
    padding-left: 10px;
    display:inline-block;
    border-bottom: 1px solid white;
    font-weight: 400;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 5px;
	vertical-align: bottom;
}
.select-width {
    min-width: 300px;
    font-size: 21px;
	margin-top: 10px;
}
.odds-table2 {
    width: 100%;
    text-align: left;
    color: black;
    border-collapse: collapse !important;
	border-spacing: 0 !important;
}
.odds-table2 td{
	border:1px solid black;
	padding: 5px;}
.black-text {
	color:black;}
.dl-menuwrapper button:after {
    background: #007F2D;
    box-shadow: 0 10px 0 #007f2d, 0 20px 0 #007f2d;
}
.three-div {
    display: inline-block;
    width: calc(30% - 2px);
    margin-right: 1.5%;
    margin-left: 1.5%;
	margin-bottom: 35px;
}
.three-div-img {
    width: 30%;
}
.margin-top30{
	margin-top:30px;}
.three-div-title {
    margin-bottom: 0;
    font-weight: 900;
    font-size: 18px;
}
.three-div-content {
    font-size: 14px;
    margin-top: 2px;
}
.ow-big-img {
    width: 25% !important;
}
.ow-black-text{
	color:black !important;}
.font-weight900{
	font-weight:900;}
.odds-table3{
	margin-top:30px;}
.odds-table3 td{
	padding-left:0;
	padding-right:0;}
.td-top {
    text-align: center;
    margin: 0;
    border-bottom: 1px solid black;
	padding-bottom: 5px;
    font-weight: 900;
	padding-left:3px;
	padding-right:3px;
}
.td-bottom{
    text-align: center;
    margin: 0;	
    padding-top: 5px;
	padding-left:3px;
	padding-right:3px;		
	}
.td-title{
	font-size:18px;
	background-color: #007F2D;
    color: white;}
.index-img {
    width: 200px;
}
.left-div1 {
    display: inline-block;
	width: calc(50% - 3px);
    text-align: right;
	padding-right: 50px;
    padding-bottom: 50px;
}
.right-div1 {
    display: inline-block;
	width: calc(50% - 3px);
    text-align: left;
	padding-bottom: 50px;
}
.index-content-p {
    width: 200px;
    text-align: justify;
}
.left-div2 {
    float: right;
    text-align: left;
	padding-left:0;
	padding-right:0;
}
.right-div2 {
    float: left;
    text-align: right;
	padding-left: 0;
    padding-right: 50px;
}
.right-div2 .index-content-p{
	margin-left:auto;}
.link-p{
	margin-bottom:20px;}
.en-ow .index-content-p {
    width: 250px;
    font-size: 14px;
}
.en-ow .index-img {
    width: 250px;
}
.dual-table {
    width: calc(45% - 3px);
    float: left;
    margin-right: 5%;
}
.td-p1{
	margin:0;
    text-align: center;
}
.ow-oddss{
	width:auto !important;
	margin-left: auto;
    margin-right: auto;}
.td-p1 {
    min-width: 240px;
}
.ow-oddss td{
	padding-left:5px;
	padding-right:5px;}
.ow-oddss1 {
	float:left;
}
.ow-oddss2 {
    float:left;
}
.ow-oddssxx tr{
	display:block;
	float:left;}
.ow-oddssxx td{
	display:block;}
.ow-tdtitle{
	color:white;}
.ow-tdp {
    margin: 0;
    font-size: 14px;
	text-align:center;
}
.ow-oddssxx td {
    display: block;
    height: 32px;
}
.data-td1 {
    min-width: 150px;
}
.flag {
    width: 20px;
}
.left-flag {
    margin-right: 5px;
    vertical-align: middle;
}
.euro-logo {
    width: 100px;
    margin-top: 20px;
	margin-bottom:20px;}
.top-td{
	text-align:center;}
.top-tr, .left-td1 {
    background-color: #c9e4da;
}
.tr1 {
    background-color: #e2f3e9;
}
.tr2 {
    background-color: white;
}
.win-table td{
	font-size:14px;
	text-align: center;}
.top-tr {
    position: sticky;
    top: 0;
	z-index: 999;
}
.win-table-div{
	width:100%;
	height:calc(100vh - 80px);}
.left-td1 {
    position: sticky;
	left:0;
	text-align: left !important;}
.euro-link-img {
    width: 150px;
    margin-top: 35px;
}
.green-link {
	transition:.15s ease-in-out;
	cursor:pointer;
    color: #007F2D;
}
.green-link:hover{
	color: #005f22;
}
.euro-link-p {
    font-size: 14px;
}
.center-text-padding td{
	text-align:center;
	padding:2px 5px;}
.td-center td{
	text-align:center;}
.overflow-auto{
	overflow:auto;}
.no-break-text th, .no-break-text td{
	word-break:keep-all;}
.bold-td {
    font-weight: 900;
    font-size: 27px !important;
}
.rec-button {
    border: 0;
    min-width: 90px;
    background-color: #ff7600;
    color: white;
    padding: 5px;
    border-radius: 5px;
	transition:0.15s ease-in-out;
	cursor:pointer;
}
.rec-button:hover{
	background-color: #ff9539;
}

.rec-button-color1 {
    border: 0;
    min-width: 90px;
    background-color: #b70000;
    color: white;
    padding: 5px;
    border-radius: 5px;
	transition:0.15s ease-in-out;
	cursor:pointer;
}
.rec-button-color1:hover{
	background-color: #930000;
}

.rec-button-color2 {
    border: 0;
    min-width: 90px;
    background-color: #ff8d00;
    color: white;
    padding: 5px;
    border-radius: 5px;
	transition:0.15s ease-in-out;
	cursor:pointer;
}
.rec-button-color2:hover{
	background-color: #ff4700;
}

.td1z {
    width: 150px !important;
}
.td3z {
    width: 90px !important;
}
.td4z{
	width:120px;}
.td3z{
	width:calc(100% - 360px);}
.two-button-side {
    width: 200px;
    display: inline-block;
    font-size: 21px;
    padding: 10px;
	margin-bottom:20px;
}
.color1 {
	cursor:pointer;
	transition:0.15s ease-in-out;
    color: white;
    background-color: #b70000;
}
.color1:hover{
	background-color: #930000;}
.color2 {
	cursor:pointer;
	transition:0.15s ease-in-out;
    color: white;
    background-color: #ff8d00;
}
.color2:hover{
	background-color: #ff4700;}
.two-button-side2 {
    margin-left: 20px;
}
.line-input-div {
    overflow: hidden;
    text-align: center;
}
.last-td-size {
    width: 220px !important;
}
.last-td-size1 {
    width: 110px !important;
}
.last-td-size2 {
    width: 110px !important;
}
.line-input {
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid black;
    font-size: 21px;
}
.button-css {
    font-size: 18px;
    border: 0;
    background-color: orange;
    color: white;
    padding: 4px 20px;
    margin-left: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.15s ease-in-out;
}
.button-css:hover{
	background-color: #f76700;
}
@media all and (max-width: 1200px){
.middle-width-div{
	width: 100%;}
.p1, .p2, .result-p{
	font-size:14px;}
.notice-modal-content {
    width: 60%;
}
.menu-h1 {
    font-size: 18px;
}
.menu-link-container {
    font-size: 14px;
}
}
@media all and (max-width: 1100px){
.menu-item {
    display: none;
}
.no-mobile .menu-item {
    display: inline-block !important;
}
.dl-menuwrapper {
    display: inline-block;
    margin-top: -12px;
}
.no-mobile .dl-menuwrapper {
	display:none;}
}
@media all and (max-width: 1000px){
.center-text-padding td{
	font-size:14px;}
.resize-table th, .resize-table td {
    font-size: 13px !important;
}
.resize-table .bold-td{
	font-size:21px !important;}
.rec-button{
	font-size:12px;}
}
@media all and (max-width: 900px){
.h1-title {
    font-size: 25px;
}
.login-div {
    width: 60%;}
.team-title {
    font-size: 27px;
}	
.vs {
    width: 60px;
    margin-top: 22px;}
.team-title-left, .team-title-right {
    width: calc(50% - 50px);}	
.time-text {
    font-size: 18px;}
.time-png {
    width: 25px;
}
.odds-button {
    font-size: 18px;
	margin-top: 20px;}
.time-div {
    margin-top: 0;
}
.time-table td {
    padding: 9px 8px;}
.vs-div{
	padding-left:10px;
	padding-right:10px;}
.stadium-title {
    font-size: 24px;
}
.fix-width-button {
    width: 300px;}
.center-titlez {
    font-size: 18px !important;
}
.result-p, .odds-table td {
    font-size: 13px;
}
.three-div-title {
    font-size: 16px;
}
.three-div-content {
    font-size: 12px;
}
.td-top, .td-bottom {
    font-size: 12px;}
.td-title {
    font-size: 14px;
}
.win-table td{
	font-size:11px;}
.flag {
    width: 12px;
}
.euro-logo {
    width: 70px;}
.small-text-table td{
	font-size:14px;}
.two-button-side {
    width: 180px;
    font-size: 18px;
    padding: 7px;
}
}

@media all and (max-width: 800px){
.notice-modal-content {
    width: 90%;
}
.index-img {
    width: 160px;
}
.index-content-p {
    width: 160px;
    text-align: justify;
    font-size: 12px;
}
.left-div1, .right-div2 {
    padding-right: 30px;}
.en-ow .index-content-p {
    width: 200px;
    font-size: 13px;
}
.en-ow .index-img {
    width: 200px;
}
.h1-title {
    font-size: 21px;
}
.td-title {
    font-size: 14px;
}
.td-p1 {
    font-size: 14px;
}
.data-td1 {
    min-width: auto;
}
.ow-tdp {
    font-size: 11px;}
.center-text-padding td{
	font-size:12px;}
.resize-title {
    font-size: 18px !important;
}
}
@media all and (max-width: 700px){
.login-div {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.field-bg {
    background-image: url(../img/field2.jpg);
    background-position: right bottom;}	
.team-title-left, .team-title-right {
    width: 100%;
    float: none;
    text-align: center;
}
.vs {
    margin-top: 0;
    float: none;
}
.team-title-left {
    margin-bottom: 8px;
}
.team-title-right {
    margin-top: 8px;
}
.odds-button {
    width: 100%;
}
.center-titlez {
    font-size: 14px !important;
}
.p1, .p2, .result-p{
	font-size:12px;}
.three-div-title {
    font-size: 14px;
}
.three-div-content {
    font-size: 10px;
}
.td-p1 {
    min-width: auto;
	padding-left:5px;
	padding-right:5px;
}
.small-text-table td{
	font-size:12px;}
.resize-table th, .resize-table td {
    font-size: 11px !important;
}
.resize-table .bold-td{
	font-size:17px !important;}
.two-button-side {
    width: 150px;
    font-size: 14px;
    padding: 5px;
}
.line-input {
    font-size: 16px;
}
.button-css {
    font-size: 14px;
    padding: 2px 20px;
    margin-left: 10px;}
}
@media all and (max-width: 600px){
.dual-input {
    display: block;
    width: 100%;
	margin-left:0;
	margin-right:0;
}

.td-top, .td-bottom {
    font-size: 10px;}
.left-div1, .right-div1, .left-div2, .right-div2{
	float:none;
	text-align:center;
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
	display:block;
	width:100%;}
.index-content-p {
	width:70%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:45px;
	text-align:center;}
.en-ow .index-content-p {
    width: 70%;
	text-align: justify;
    text-align-last: center;
}
.h1-title {
    font-size: 19px;
}
.dual-table {
    width: 100%;
    float: none;
    margin-right: 0;
}
.td-p1 {
    font-size: 12px;
}
.resize-title {
    font-size: 15px !important;
}
}
@media all and (max-width: 550px){
.login-div {
    width: 96%;
}
.glass {
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );}
.vs-div {
    margin-top: 30px;
}
.team-title {
    font-size: 21px;
}
.vs {
    width: 50px;}
.time-text {
    font-size: 15px;
}
.time-table td {
    padding: 7px 5px;
}
.odds-button {
    font-size: 15px;
}
.fix-width-button {
    width: 100%;}
.same-padding {
    padding-left: 3%;
    padding-right: 3%;
}
.three-div {
    width: calc(44% - 3px);
    margin-right: 3%;
    margin-left: 3%;}
.ow-big-img {
    width: 45% !important;
}
.ow-big-text{
	font-size:14px !important;}
.ow-oddssxx{
	
	width:650px !important;
	overflow:auto;}
}

@media all and (max-width: 500px){
.result-p, .odds-table td {
    font-size: 11.5px;
}
.stadium-title2 {
    font-size: 14px;
}
.footer-p {
    font-size: 10px;}
.index-content-p {
	width:80%;}
.en-ow .index-content-p {
    width: 90%;
	font-size: 11px;}
.td-p1 {
    font-size: 10px;
}
.small-text-table td{
	font-size:10px;}
.resize-table th, .resize-table td {
    font-size: 10px !important;
}
.resize-title {
    font-size: 13px !important;
}
.two-button-side {
	width:100%;
	display:block;
	clear:both;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
}
}
@media all and (max-width: 450px){
.p1, .p2 {
    display: block;
    width: 100%;
    text-align: center;
	border-left:0;
	padding:0;
}
.p1{
	padding-top:5px;
	padding-bottom:5px;}
.p2{
	padding-top:5px;
	padding-bottom:20px;}
.win-table td{
	font-size:10px;}
.flag {
    width: 10px;
}
.resize-table .bold-td{
	font-size:14px !important;}
}
@media all and (max-width: 400px){
.input-name {
    font-size: 15px;
}
.pill-button, .bottom-a {
    font-size: 16px;
}	
.logo-img {
    width: 23px;
}
.dl-menuwrapper {
    margin-top: -17px;
}
.menu-color {
    padding-top: 7px;
    padding-bottom: 4px;
}
.dl-menuwrapper .dl-menu.dl-menuopen {
    margin-top: 8px;}
.select-width {
    min-width: 100%;
	font-size: 18px;
}
.menu-distance {
    padding-top: 40.82px;
}
.three-div {
    width: 94%;}
.three-div-img {
    width: 25%;
}
.index-content-p {
	width:90%;}
.line-input {
    font-size: 14px;
}
.button-css {
    font-size: 14px;
    padding: 2px 10px;}
}